* {
    box-sizing: border-box;
   /* border: 1px solid black;*/
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
 #heading {
     width: 100%;;
    max-height: 80px;
    background-color: rgba(221, 211, 211,0.69);
    color: black;
    font-family:'Roboto', sans-serif;
    text-align: left;
    padding: 20px 30px; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

} 
/* #heading #index_nav a {
    margin: 0;
    float: right;
} */
#heading h1 {
     
    margin-right: auto;
}
 
#heading button {
 border-radius: 5px; 
 border-color: black;
 color:black;  
 padding: 10px 10px;
 margin-right:5px;
  cursor: pointer;
 font-size: 15px;
}
#index {
    background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');
     
    background-repeat: no-repeat;
    background-position: center;
}

#index_content {
    width: 75%;
    margin: 20px auto;
    text-align: center;
     
}
#index_content button {
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    
}
#index_content a :hover {
    background-color: black;
    color: white;
    font-size: 23px;;
}
#index_nav a :hover {
    background-color: black;
    color: white;
}
@media only screen and (max-width:480px) and (min-width:360px){
    #heading {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
         
        }
    #heading h1 {
        font-size: 23px;
        margin: 0 auto;
        margin-top: 0px;
        
    }
    #heading button {
        
        padding: 5px 5px;
    }
}


/* for form.html */
 #form {
     line-height: 25px;
 }
  #form_heading {
      width: 100%;
      height: 75px;
      padding-top: 20px;
      text-align: center;
      background-color: #F64C72;
  }
  #form_content {
      background-color: rgba(256, 50, 100) ;
  }
  #form  {
      width: 100%;;
      text-align: center;
      margin: 0 auto;
  }
  
  .white_field {
      padding: 10px 20px;
      width: 100%;
      background-color: rgba(245, 245, 245,0.75);
       
  }
  .grey_field {
      padding: 10px 20px;
      width: 100%;
      background-color: rgba(211, 211, 211,0.75);
  }
  #form_submit {
      text-align: center;
  }
  #form_submit input{
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
  }
  #form_submit a :hover {
      color: white;
      background-color: black;
  }

/* for resume.html */

.name_row {
    max-height: 120px;
    text-align: center;
    padding: 20px 0;
    background-color: #D3D3D3;
}
#info {
    margin: 10px 30px;
    line-height: 25px;
}
#info ul {
    margin-left: 20px;
}
#info td {
    text-align: center;
}
table {
    border: 1px solid black;
    max-width: 450px;
    width: 80%;
    
}
td {
    padding: 2px;
}
#info h2 {
    line-height: 40px;
}
#end {
 display: flex;
 justify-content: space-between;   
}
 